nav{
    /* border: 2px solid rgb(23, 1, 1); */
    height: 80px;
    display: flex;
    background-color: white;
}
nav aside img {
    height: 100px;
    width: 100px;
    margin-top: -7px;
}

nav #right{
    /* border: 2px solid red; */
    flex-basis: 40%;
    height: inherit;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 10px;
    
}
nav #right ul{
    display: flex;
    justify-content: space-around;
}

nav #right ul a{
    text-decoration: none;
}
nav #right ul a li{
    list-style-type: none;
    color: black;
}
nav #right ul a li:hover{
    text-decoration: underline rgb(242, 10, 122);
}
nav #right ul a li sup{
    /* color: palevioletred; */
    font-size: small;
}

nav #left{
    /* border: 2px solid red; */
    /* flex-basis: 40%; */
    height: inherit;
    font-size: 20px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    padding: 10px;
}

nav #p{
    
    /* flex-basis: 50%; */
    height: inherit;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 20px;
    font-weight: bold;
    margin-right: 300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}